body {
	background: red;
}

header {
	text-align: center;
	margin-top: 150px;
	font-family: sans-serif;
}


nav {
	text-align: center;
}

ul {
	margin: 0 auto;
	padding: 0;
}

li {
	display: inline;
}

section {
	background: blue;
	margin: 50px;
	padding: 50px;

}

section p
{
	margin: 25px auto 0 auto;
	width: 1006px;
}

.portfolio-img {
	display: block;
	margin: auto;
}